@model IEnumerable<Ordersystem.DataObjects.Message>

@{
    ViewData["Title"] = "Index";
}

<div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-black py-2">Message Board</h2>
        </div>
    </div>
</div>

<div class="container text">
    <div class="row">
        <div class="col text">
            <div class="card-columns">
                <div class="card">
                    <h5 class="card-title text-bg-danger text-center">Important Announcements</h5>
                    <div class="col">
                        <div class="card-body p-4">

                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-wrap">
                                            Title
                                        </th>
                                        <th class="text-wrap">
                                            Post date
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var message in Model.Where(m => m.Type == Ordersystem.DataObjects.MessageType.ImportantAnnouncement))
                                    {
                                        <tr>
                                            <td class="text-wrap">
                                                @message.Title
                                            </td>
                                            <td class="text-wrap">
                                                @message.Date.ToString(("yyyy/MM/dd HH:mm:ss"))
                                            </td>
                                            <td class="text-center">
                                                <div class="w-75 btn-group" role="group">
                                                    @if ((User.IsInRole(ApplicationRoles.Role_Employee)) || (User.IsInRole(ApplicationRoles.Role_Admin)))
                                                    {
                                                        <a asp-controller="MessageEmployee" asp-action="Details" asp-route-id="                                       @message.MessageID" class="btn btn-outline-danger mx-2">
                                                            <i class="bi border-info"></i> More
                                                        </a>
                                                    }
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card-columns">

                <div class="card">
                    <h5 class="card-title text-bg-info text-center">Status Messages</h5>
                    <div class="col">

                        <div class="card-body p-4">

                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-wrap">
                                            Title
                                        </th>
                                        <th class="text-wrap">

                                            Post date
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var message in Model.Where(m => m.Type == Ordersystem.DataObjects.MessageType.StatusMessage))
                                    {
                                        <tr>
                                            <td class="text-wrap">
                                                @message.Title
                                            </td>
                                            <td class="text-wrap">

                                                @message.Date.ToString(("yyyy/MM/dd HH:mm:ss"))
                                            </td>
                                            <td class="text-center">
                                                <div class="w-75 btn-group" role="group">
                                                    @if ((User.IsInRole(ApplicationRoles.Role_Employee)) || (User.IsInRole(ApplicationRoles.Role_Admin)))
                                                    {
                                                        <a asp-controller="MessageEmployee" asp-action="Details" asp-route-id="                                       @message.MessageID" class="btn btn btn-outline-info mx-2">
                                                            <i class="bi border-info"></i> More
                                                        </a>
                                                    }
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
