@model IEnumerable<Ordersystem.DataObjects.OrderDetail>

@{
    ViewData["Title"] = "Index";
}

<div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-black py-2">Order Detail List</h2>
        </div>
    </div>
</div>
<div class="card-body p-4">
    <div class="row pb-3">
        <div class="col-6">
        </div>

        <div class="col-6 text-end">
            <a asp-controller="OrderDetail" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>  Create New Order Detail
            </a>
        </div>
    </div>
    <table id="tblData" class="table table-responsive table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>
                    Unit Price
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Product Title
                </th>
                <th>
                    Order Status
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.OrderBy(u => u.UnitPrice))
            {
                <tr>
                    <td>
                        @obj.UnitPrice
                    </td>
                    <td>
                        @obj.Quantity
                    </td>
                    <td>
                        @obj.Product.Title
                    </td>
                    <td>
                        @obj.Order.OrderStatus
                    </td>


                    <td class="text-center">
                        <div>
                            <a asp-controller="OrderDetail" asp-action="Upsert" asp-route-id="@obj.OrderDetailID" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
