@model IEnumerable<Ordersystem.DataObjects.Supplier>

@{
    ViewData["Title"] = "Index";
}

<div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-black py-2">Supplier List</h2>
        </div>
    </div>
</div>
<div class="card-body p-4">
    <div class="row pb-3">
        <div class="col-6">
        </div>

        <div class="col-6 text-end">
            <a asp-controller="Supplier" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>  Create New Supplier
            </a>
        </div>
    </div>
    <table id="tblData" class="table table-responsive table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Name</th>
                <th>VAT Number</th>
                <th>Address</th>
                <th>City</th>
                <th>Postal Code</th>
                @* <th>Phone Number</th>
                <th>E-mail</th> *@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.OrderBy(u => u.SupplierName))
            {
                <tr>
                    <td>
                        @obj.SupplierName
                    </td>
                    <td>
                        @obj.VATNumber
                    </td>
                    <td>
                        @obj.Address
                    </td>
                    <td>
                        @obj.City
                    </td>
                    <td>
                        @obj.PostalCode
                    </td>
                   @*  <td>
                        @obj.Phone
                    </td>
                    <td>
                        @obj.Email
                    </td> *@
                    <td>
                    </td>

                    <td class="text-center">
                        <div>
                        <a asp-controller="Supplier" asp-action="Upsert" asp-route-id="@obj.SupplierID" class="btn btn-primary mx-2">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>

                        <a asp-controller="Supplier" asp-action="Delete" asp-route-id="@obj.SupplierID" class="btn btn-danger mx-2">
                            <i class="bi bi-trash"></i> Delete
                        </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>